HELP.md
target/
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/

# Logs
*.log


# OS files
.DS_Store
Thumbs.db

# Environment files
.env

application-local.yml
application-dev.yml
application-prod.yml

# Build artifacts
*.jar
*.war

# Temp files
*.tmp
